*.iml
.DS_Store
.cxx
.externalNativeBuild
.gradle
.idea
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
google-services.json
local.properties
